{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block body %}

<!-- about us section start -->
<div class="container my-5">
    <h1 style="text-align: center;">About us</h1>
    <div class="row featurette d-flex justify-content-center align-items-center my-3" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; padding: 15px;">
        <div class="col-md-7">
          <h2 class="featurette-heading ">SCHOOL MANAGER <br><span class="text-muted">Mr. B.L. PAL(Mechanical Engineer)</span></h2><hr>
          <p class="lead">"Education is a shared commitment between dedicated teachers, motivated students and enthusiastic parents with high expectations’. The parents are the most strengthening power in moulding the future of Children. I pay my sincere gratitude to the parents for their faith in us."</p><br>
          <p class="lead">"My heartfelt thanks to the school’s Principal, teachers and other staff members without whom the successes would not be possible. Once again, I welcome you and sincerely hope that our website will rouse your interest and encourage you to take a Step towards making positive difference in your life."</p><br>
          <p class="lead">Thank you.</p>
        </div>
        <div id="ak" class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./static/img/33.jpg" width="600" height="100" alt=" ">
        </div>
      </div>
</div><hr>
<div class="container my-5">
    <div class="row featurette d-flex justify-content-center align-items-center my-3" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; padding: 15px;">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading my-2">WELCOME TO B.M.P PUBLIC SCHOOL <br><span class="text-muted">It’ll blow your mind.</span></h2><hr>
          <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem tempora nihil minima animi blanditiis et, id, nemo consequatur fugit cupiditate, placeat voluptate doloribus adipisci quo ut magnam illum dolore officia rem saepe sit harum alias. In cumque commodi architecto dolorum animi aliquam quisquam earum, dolorem voluptas doloribus perferendis et cupiditate quo facere voluptatum minima enim ex officiis dolores optio error.</p>
        </div>
        <div id="ak" class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./static/img/34.jpg" width="600" height="500" alt=" ">
        </div>
      </div>
</div><hr>
<div class="container my-5">
    <div class="row featurette d-flex justify-content-center align-items-center my-3" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; padding: 15px;">
        <div class="col-md-7">
          <h2 class="featurette-heading my-2">WELCOME TO B.M.P PUBLIC SCHOOL <br><span class="text-muted">It’ll blow your mind.</span></h2><hr>
          <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem tempora nihil minima animi blanditiis et, id, nemo consequatur fugit cupiditate, placeat voluptate doloribus adipisci quo ut magnam illum dolore officia rem saepe sit harum alias. In cumque commodi architecto dolorum animi aliquam quisquam earum, dolorem voluptas doloribus perferendis et cupiditate quo facere voluptatum minima enim ex officiis dolores optio error.</p>
        </div>
        <div id="ak" class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="./static/img/35.jpg" width="600" height="500" alt=" ">
        </div>
      </div>
</div><hr>
<!-- about us section end -->


{% endblock body %}